---
import Header from "@components/Header.vue"
import Footer from "@components/Footer.vue"

export interface Props {
	title?: string
}

const { title = "" } = Astro.props
---

<!DOCTYPE html>
<html lang="it" class="bg-base-100 scroll-smooth transition-colors">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ambo!{title != "" ? ` - ${title}` : ""}</title>
		<script is:inline>
			const isDark = localStorage.getItem("theme") === 'dark' ||
				(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light')
		</script>
	</head>
	<body class="selection:bg-secondary-focus flex min-h-screen flex-col">
		<Header client:load />
		<main class="text-neutral flex grow flex-col items-center justify-center">
			<slot />
		</main>
		<Footer client:load />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
			font-family: "Poppins", system-ui, sans-serif;
		}
	}

	@layer components {
		.btn-outline {
			@apply border-2;
		}
		.btn {
			@apply text-base-100;
		}
		.btn-sm {
			@apply leading-5;
		}
		.btn-ghost {
			@apply text-neutral;
		}
	}

	body {
		scrollbar-color: #27272a #f4f4f5;
	}

	[data-theme="dark"] body {
		scrollbar-color: #f4f4f5 #27272a;
	}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	::-webkit-scrollbar-thumb {
		background: #27272a;
		border-radius: 10px;
	}

	[data-theme="dark"] ::-webkit-scrollbar-thumb {
		background: #f4f4f5;
	}

	::-webkit-scrollbar-track {
		background: #f4f4f5;
	}

	[data-theme="dark"] ::-webkit-scrollbar-track {
		background: #27272a;
	}

	.wave-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.wave-shape svg {
		position: relative;
		display: block;
		width: 125%;
		height: 96px;
	}
</style>
